.feature{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 10px;
    flex-wrap: nowrap ;
}

.feature img{
    width: 100px;
    margin-top: 0px
}

p{
width: 80%;
}

h3{
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: left;
}